.page-header.type24 {
    background-color: #fff;
    position: relative;
    border: 0;
    z-index: 4;
}
.page-header.type24 .header.content {
    padding: 0;
    display: flex;
    align-items: center;
}
.page-header.type24 .header.content > .logo {
    display: block;
    z-index: 6;
}
.page-header.type24 .logo img {
    max-height: 57px;
    width: auto;
}
.page-header.type24 .panel.header {
    padding: 0;
    width: auto;
    flex: 1;
    text-align: right;
    min-width: 138px;
}
.page-header.type24 .nav-sections {
    flex: 1;
}
.page-header.type24 .panel.header .search-area {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.page-header.type24 .panel.header .search-area > a {
    font-size: 21px;
    color: #222529;
}
.page-header.type24 .top-links-icon > a {
    font-size: 27px;
    color: #222529;
}
.page-header.type24 .search-area .search-toggle-icon span {
    display: none;
}
.page-header.type24 .panel.header .block-search {
    display: none;
    position: absolute;
    top: -59px;
    right: -9px;
    left: auto;
    width: 300px;
    margin: 0;
    margin-top: 15px;
    border: 5px solid rgba(0,0,0,0.1);
    border-radius: 50px;
    overflow: hidden;
}
.page-header.type24 .block-search input {
    min-width: 300px;
    border: 0;
}
.page-header.type24 .block-search .action.search {
    width: 40px;
    text-align: center;
    color: #000;
}
.page-header.type24 .block-header-customer-login {
    border: 0;
    margin-top: 20px;
}
.page-header.type24 .block-header-customer-login button {
    font-family: "Oswald";
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}
.page-header.type24 .block-header-customer-login input {
    font-family: "Oswald";
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
    color: #000;
}
.page-header.type24 .block-header-customer-login:before {
    border-bottom-color: #fff;
    top: -10px;
}
.page-header.type24 .top-links-area {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.page-header.type24 .top-links-icon > a > span {
    display: none;
}
.page-header.type24 .panel.header > * {
    text-align: left;
}
.page-header.type24 .switcher .options .action.toggle.active:hover:after {
    color: #000;
}
.page-header.type24 a.my-wishlist {
    font-size: 27px;
    display: inline-block;
    vertical-align: middle;
    color: #222529;
    padding-bottom: 25px;
    position: relative;
    top: -5px;
}
.page-header.type24 .panel.header .search-area, .page-header.type24 .top-links-area, .page-header.type24 a.my-wishlist, .page-header.type24 .minicart-wrapper {
    margin: 0 7px;
}
.page-header.type24 .minicart-wrapper {
    margin-top: 10px;
    margin-right: 15px;
    width: auto;
    vertical-align: middle;
    float: none;
    padding-bottom: 25px;
    position: relative;
    top: -6px;
}
.page-header.type24 .minicart-wrapper .action.showcart {
    width: 25px;
    height: 20px;
    border: 2px solid #222529;
    border-radius: 0 0 5px 5px;
    position: relative;
    opacity: .9;
    padding-right: 0;
}
.page-header.type24 .minicart-wrapper .action.showcart:before {
    content: '' !important;
    position: absolute;
    border: 2px solid;
    border-color: inherit;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    left: 50%;
    top: -8px;
    margin-left: -7.5px;
    width: 15px;
    height: 11px;
}
.page-header.type24 .minicart-wrapper .action.showcart .counter.qty {
    width: 16px;
    height: 16px;
    display: block;
    font-size: 10px;
    color: #fff;
    background-color: #ff5b5b;
    text-align: center;
    line-height: 16px;
    border-radius: 20px;
    min-width: auto;
    left: auto;
    right: -16px;    
    margin-top: -20px;
    font-weight: 400;
}
.page-header.type24.sticky-header .minicart-wrapper .action.showcart .counter.qty {
    right: -16px;
}
.page-header.type24 .minicart-wrapper .action.showcart:after {
    display: none;
}
.page-header.type24 .search-category {
    display: none;
}
.page-header.type24 .minicart-wrapper .block-minicart:before {
    right: 14px;
}
.page-header.type24 .minicart-wrapper .block-minicart:after {
    right: 13px;
}
.page-header.type24 .top-links-area > .links {
    display: none;
    position: absolute;
    right: -30px;
    z-index: 9;
    background-color: #fff!important;
    border-radius: 3px;
    margin: 0;
    padding: 5px 0;
    text-align: right;
    border: 1px solid #ccc;
    min-width: 150px;
    top: 100%;
    margin-top: 15px;
}
.page-header.type24 .top-links-area .links > li {
    display: block;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 19px;

}
.page-header.type24 .top-links-area .links > li > a,
.page-header.type24 .top-links-area .links > li > span {
    color: #777 !important;
    white-space: nowrap;
    padding: 0 10px;
    display: block;
    transition: all .2s;
    font-weight: 400;
    font-size: 11px;
}
@media (min-width: 768px) {
    .page-header.type24 .panel.header .switcher {
        margin-right: 15px;
        height: auto;
        float: none;
        display: none;
    }
    .page-header.type24 .switcher strong {
        color: #000;
        line-height: 1;
        text-transform: uppercase;
        vertical-align: middle;
    }
    .page-header.type24 .switcher .options .action.toggle:after {
        line-height: 12px;
        color: #000;
        vertical-align: middle;
    }
    .page-header.type24 .switcher .options {
        font-size: 12px;
        display: block;
    }
    .page-header.type24 .nav-sections {
        border: 0;
        display: block;
        padding: 0;
        order: -1;
    }
    .page-header.type24 .navigation li.level0 {
        margin-right: 5px;
    }
    .page-header.type24 .sw-megamenu.navigation li.level0.fullwidth > .submenu, .page-header.type24 .sw-megamenu.navigation li.level0.staticwidth > .submenu {
        border: 0;
    }
    .page-header.type24 .sw-megamenu.navigation li.level0.classic > .submenu {
        border: 0;
    }
    .page-header.type24 .nav-sections-item-content > .navigation {
        z-index: initial;
        position: static;
    }
    .page-header.type24 .nav-sections-item-content > .navigation > ul {
        position: static;
    }
    .page-header.type24 .navigation li.level0 > a {
        line-height: 20px;
        color: #222529;
        font-weight: 700;
        font-size: 13px;
        padding: 45px 10px;
    }
    .page-header.type24 .navigation li.level0.parent > a:after {
        display: none;
    }
    .page-header.type24 .navigation li.level0 > a {
        position: relative;
    }
    .page-header.type24 .navigation li.level0 > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.2s opacity;
        background-color: #08c;
    }
    .page-header.type24 .navigation li.level0:hover > a:before {
        opacity: 1;
    }
    .page-header.type24 .sw-megamenu.navigation li.level0.fullwidth > .submenu:before, .page-header.type24 .sw-megamenu.navigation li.level0.staticwidth > .submenu:before, .page-header.type24 .sw-megamenu.navigation li.level0.classic > .submenu:before {
        width: 100%;
        height: 20px;
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
    }
    .page-header.type24 .sw-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a:hover > span, .page-header.type24 .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a:hover > span {
        text-decoration: none;
    }
    .page-header.type24 .sw-megamenu.navigation li.level0.fullwidth .submenu a, .page-header.type24 .sw-megamenu.navigation li.level0.staticwidth .submenu a {
        padding: 10px;
    }
    .page-header.type24 .sw-megamenu.navigation li.level0.classic .subchildmenu .subchildmenu {
        top: -5px;
    }
    .page-header.type24 .switcher .options ul.dropdown {
        margin-top: 20px;
    }
    .page-header.type24.sticky-header .navigation {
        max-width: 100%;
        padding: 0;
    }
    .page-header.type24.sticky-header .nav-sections {
        padding: 0 6%;
    }
    .page-header.type24.sticky-header .minicart-wrapper {
        margin-top: -8px;
        right: 6%;
    }
    .page-header.type24.sticky-header .navigation li.level0 > .level-top {
        line-height: 20px;
        padding: 17px 10px;
    }
    .page-header.type24.sticky-header .sticky-logo {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
@media (max-width: 767px) {
    .page-header.type24 .header.content {
        padding: 0;
    }
    .page-header.type24 .nav-toggle {
        line-height: 1;
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .page-header.type24 .nav-toggle:before {
        color: #222529;
        font-size: 21px;
    }
    .page-header.type24 .panel.header {
        pointer-events: all;
    }
    .page-header.type24 .search-area .search-toggle-icon {
        display: none;
    }
    .page-header.type24 .panel.header .block-search {
        display: block;
        position: relative;
        top: 0;
        width: auto;
        right: 0;
        border: 0;
        overflow: visible;
        margin: 0;
    }
    .page-header.type24 .block-search .label {
        line-height: 1;
    }
    .page-header.type24 .block-search .label:before {
        font-size: 21px;
        line-height: 1;
        margin: 0;
        font-weight: 700;
        color: #222529;
    }
    .page-header.type24 .block-search .label.active:before {
        color: #fff;
    }
    .page-header.type24 .block-search input {
        position: absolute;
        right: -5px;
        top: -6px;
        margin: 0;
        left: auto;
        opacity: 0;
        filter:alpha(opacity=0);
        pointer-events: none;
    }
    .page-header.type24 .block-search .label.active + .control input {
        position: absolute;
        display: block;
        opacity: 1;
        filter:alpha(opacity=100);
        pointer-events: all;
        z-index: 1;
    }
    .page-header.type24 .navigation li.level0 > a {
        padding: 13px 36px 13px 15px;
    }
    .page-header.type24 .block-search input {
        min-width: 200px;
    }
}
@media (max-width: 480px) {
    .page-header.type24 .panel.header .search-area, .page-header.type24 .top-links-area, .page-header.type24 a.my-wishlist, .page-header.type24 .minicart-wrapper {   
        margin-left: 2px;
        margin-right: 2px;
    }
    .page-header.type24 .logo img {
        max-height: 35px;
    }
}