<!--@subject {{var webform_subject}} @-->
<!--@vars
{"var webform_subject":"Generated subject from field values",
"var webform_name":"Web-form name",
"var webform_result|html":"Detailed result html content",
"var store_group":"Store Group",
"var store_name":"Store Name",
"var ip":"Customer IP address",
"var customer_name":"Customer name",
"var customer_email":"Customer email address",
"var result.field_id.name":"Field name with assigned id or code",
"var result.field_id.value|raw":"Field value with assigned id or code",
"var result.field_id.result_label":"Field result label with assigned id or code"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header_template"}}

<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650"
                   style="border:1px solid #E0E0E0;">
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">{{var webform_name}}</h1>

                        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">
                            {{var webform_result|html}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
