<?php
$accdc = $this->getData('accdc');
$container_style = "";
?>
    <div class='webforms-datepicker'>
        <div class='webforms-calendar' <?php echo $container_style ?>>
            <input type='text' name='<?php echo $this->getFieldName() ?>[]' id='<?php echo $this->getFieldId() ?>'
                   class='<?php echo $this->getFieldClass() ?>' style='<?php echo $this->getFieldStyle() ?>'
                   <?php if ($this->getField()->getHideLabel()) { ?>aria-label="<?php echo $this->getField()->getName() ?>"
                <?php } else { ?> aria-labelledby="label_<?php echo $this->getFieldId() ?>" <?php } ?>
                   <?php if ($this->getField()->getRequired()) { ?>aria-required="true"<?php } ?>
                   value='<?php echo $this->getCustomerValue() ?>' <?php echo htmlspecialchars($this->getField()->getCustomAttributes())?>/>
            <?php if ($accdc){?>
            <button aria-labelledby="label_<?php echo $this->getFieldId() ?>"
                    aria-describedby="<?php echo $this->getFieldId() ?>" type="button"
                    id='<?php echo $this->getFieldId() ?>_trigger' class="ui-datepicker-trigger v-middle" <?php echo htmlspecialchars($this->getField()->getCustomAttributes())?>><span>Date selector</span>
            </button>
            <?php }?>
        </div>

        <?php if ($this->getField()->getType() == 'datetime') { ?>
            <div class="webforms-time" aria-label="<?php __("Time") ?>" role="group">
                <select id="<?php echo $this->getFieldId() ?>_hours" name='<?php echo $this->getFieldName() ?>[]'
                        class="hours"
                        aria-label="<?php echo __("Hours") ?>"  <?php echo htmlspecialchars($this->getField()->getCustomAttributes())?>>
                    <?php for ($i = 0; $i < 24; $i++) {
                        $value = substr("0" . $i, -2);
                        ?>
                        <option value="<?php echo $value ?>" <?php if($this->getHour() == $value) echo 'selected'?>><?php echo substr("0" . $i, -2) ?></option>
                    <?php } ?>
                </select> :
                <select id="<?php echo $this->getFieldId() ?>_minutes" name='<?php echo $this->getFieldName() ?>[]'
                        class="minutes" aria-label="<?php echo __("Minutes") ?>"  <?php echo htmlspecialchars($this->getField()->getCustomAttributes())?>>
                    <?php for ($i = 0; $i < 60; $i += 5) {
                        $value = substr("0" . $i, -2);
                        ?>
                        <option value="<?php echo $value ?>" <?php if($this->getMinute() == $value) echo 'selected'?>><?php echo substr("0" . $i, -2) ?></option>
                    <?php } ?>
                </select>
            </div>
        <?php } ?>
    </div>

<?php if ($accdc) { ?>
    <script type='text/javascript'>

        require([
            'VladimirPopov_WebForms/js/convert.format',
            'prototype',
            'VladimirPopov_WebForms/js/accdc/modules/calendar_generator',
            'VladimirPopov_WebForms/js/date.format'
        ], function (convertFormat) {
            $Acc.addClass(document.getElementById('<?php echo $this->getFieldId() ?>'), '_has-datepicker');

            $Acc.setCalendar('<?php echo $this->getFieldId() ?>_calendar', document.getElementById('<?php echo $this->getFieldId() ?>_trigger'), document.getElementById('<?php echo $this->getFieldId() ?>'), false,
                function (ev, dc, targ) {
                    // Save the desired date string
                    var format = convertFormat('<?php echo $this->getDateFormat()?>','date');
                    targ.value = dc.date.format(format);

                    dc.close();
                },
                {
                    // Set CSS positioning calculation for the calendar
                    autoPosition: 0,
                    offsetTop: -25
                });
            // add action to input text field
            document.getElementById('<?php echo $this->getFieldId() ?>').onkeypress = function () {
                document.getElementById('<?php echo $this->getFieldId() ?>_trigger').click();
            }
        });

    </script>

<?php } else { ?>

    <script type='text/javascript'>

        require([
            'jquery',
            'mage/calendar'
        ], function ($, mage) {
            $("#<?php echo $this->getFieldId()?>").calendar({
                showButtonPanel: true,
                dateFormat: '<?php echo $this->getDateFormat()?>',
                showTimepicker: <?php echo $this->getShowTime()?>
            });
        });

    </script>
<?php } ?>
